<header>
  <h1>Sugar and Spice</h1>
  <div class="line"></div>
  <nav>
    <ul>
      <li><a href="cakes">Cakes</a></li>
      <li><a href="cookies">Cookies</a></li>
      <li><a href="muffins">Muffins</a></li>
    </ul>
  </nav>
</header>
