* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Englebert', sans-serif;

}

header {
  background-image: url(header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 520px;
  text-align: center;
}

header h1 {
  padding-top: 100px;
  padding-bottom: 0px;
  font-size: 90px;
  color: skyblue;
}

.line {
  background-color: #A37836;
  margin-left: 30%;
  margin-right: 30%;
  height: 5px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

div {
  height: 400px;
}

/* .product {
  width: 20%;
  height: 20%;
} */
